{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Home{% endblock %} | Contacts Manager</title>
    {% block meta %}{% endblock %}
    {% block head_scripts %}{% endblock %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block styles %}{% endblock %}
</head>
<body class="site">
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">AI Timetable Generator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <!--  -->
          </ul>
        </div>
      </div>
      </nav>
    </header>
    <main class="site-content">
        {% block main %}{% endblock %}
    </main>
    <footer class="navbar-dark bg-dark">
        {% block footer %}{% endblock %}
    </footer>
    <script src="{% static 'vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'vendor/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/axios.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>